<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title>TODO LIST</title>
</head>
<body class="text-white bg-blue-300 h-screen w-screen flex justify-center items-center">
    <table class="border-collapse border border-slate-500">
        <thead>
            <tr>
              <th class="border border-slate-600" scope="col">担当者</th>
              <th class="border border-slate-600" scope="col">タイトル</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo: ${todoList}">
                <td class="border border-slate-600" th:text="${todo.user}"></td>
                <td class="border border-slate-600" th:text="${todo.title}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
