<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title>TODO LIST</title>
</head>
<body>
    <table>
        <thead>
            <tr>
              <th scope="col">担当者</th>
              <th scope="col">タイトル</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo: ${todoList}">
                <td th:text="${todo.user}"></td>
                <td th:text="${todo.title}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
